.glasseffect {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    width:30em;
    height:40em;
    color: white;
    /* add glass effect */
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button {
    background-color: #00ff80;
    border: none;
    color: #006633;
    padding: 5px 10px;
    margin: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

ul{
    padding:0;
    list-style-type:none;
}

li{
    float:left;
    padding: 0.5em;
}

ul.nav {
    padding-left: 0px;
    text-align: center;
}

ul.nav > li {
    display: inline-block;
    padding: 0.5em 0.5em;
}
